h1, h2, h3 {
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-weight: 22px;
    text-align: center;
}

h2 {
    font-weight: 15px;
}

h3 {
    font-weight: 10px;
}

body {
    text-align: left;
}

a, div {
    text-align: center;
}

p {
    color: rgb(42, 72, 92);
}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-position: inside;
}